<!DOCTYPE html>
<html>
  <head>
    <title>Rock</title>
  </head>

  <body>
    <h2> <%= @we_play %> </h2>
    <h2><%= @they_play %></h2>
    <h2><%= @outcome_mssg %></h2>
    <p> <a href="/"> Rules </a> </p>

  </body>
</html>
